# Project exclude paths
/.idea
/TestBuildMyCloud.iml
/dependencies/dependencies.iml
/server1/target/
/server1/server1.iml
/server2/target/
/server2/server2.iml
/dubbo-provider/dubbo-provider.iml
/dubbo-provider/dubbo-provider-api/dubbo-provider-api.iml
/dubbo-provider/dubbo-provider-service/dubbo-provider-service.iml
/dubbo-provider/dubbo-provider-api/target/
/dubbo-provider/dubbo-provider-service/target/
/seata-spring-cloud/seata-spring-cloud.iml
/seata-spring-cloud/business-provider-api/business-provider-api.iml
/seata-spring-cloud/business-server/business-server.iml
/seata-spring-cloud/business-provider-account-service/business-provider-account-service.iml
/seata-spring-cloud/business-provider-storage-service/business-provider-storage-service.iml
/seata-spring-cloud/business-provider-order-service/business-provider-order-service.iml
/seata-spring-cloud/business-provider-api/target/
/seata-spring-cloud/business-provider-account-service/target/
/seata-spring-cloud/business-server/target/

