# Project exclude paths
/.idea
/TestBuildMyCloud.iml
/dependencies/dependencies.iml
/server/server.iml
/seata-dubbo-nacos/seata-dubbo-nacos.iml
/seata-dubbo-nacos/business-server/business-server.iml
/seata-dubbo-nacos/business-provider-storage-service/business-provider-storage-service.iml
/seata-dubbo-nacos/business-provider-order-service/business-provider-order-service.iml
/seata-dubbo-nacos/business-provider-api/business-provider-api.iml
/seata-dubbo-nacos/business-provider-account-service/business-provider-account-service.iml
/seata-dubbo-nacos/business-server/target/
/seata-dubbo-nacos/business-provider-order-service/target/
/seata-dubbo-nacos/business-provider-account-service/target/
/seata-dubbo-nacos/business-provider-storage-service/target/
/seata-dubbo-nacos/business-provider-api/target/
/spring-cloud-getway/spring-cloud-getway.iml
